body{
  background: wheat;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

button{
  /* padding: 20px; */
  height: 90px;
  border: 1px dashed slateblue;
  width: 90px;
}
button:hover{
  width: 91px;
  /* color: bisque; */
}
.center {
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  margin-top: 40px;
}
.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  transition-property: width;
  border-radius: 5px;
  background: aqua;
  border-width: 0px;
}

.btn:active {
  
  transform: rotate(45deg);
  color: red;
  position: fixed;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn:active span {
  display: inline-block;
  transform: rotate(-45deg);
}

.label{
  height: 30px;
  width: 90px;
  border: 1px solid black;
  padding: 3px;
  display: inline-block;

}

.left{
  float: left;
}

.right{
  margin: 15px;
  float: right;
}

.span{
  font:  sans-serif;
}

.winner{
  background: rgb(241, 27, 27);
  border: 1px double red;
  color: white;
}

